.add-module-modal {
    z-index: 9999;
    .modal {
        position: fixed;
        top: 5% !important;
        left: 0;
        z-index: 1060;
        display: none;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
    }

    .modal-xl {
        max-width: 640px;
    }
    .modal-dialog {
        .modal-content {
            background-color: #f0ffff00;
            border: none;
            .modal-header {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: space-between;
                padding: 0rem 0rem;
                border-bottom: none;
                border-top-left-radius: calc(0.3rem - 1px);
                border-top-right-radius: calc(0.3rem - 1px);

                .btn-close {
                    position: absolute;
                    margin-top: 30px;
                    right: 0;
                    z-index: 9999;
                    background-color: white;
                    padding: 30px;
                    border-radius: 45px;
                    opacity: initial;
                    -webkit-box-shadow: -1px 6px 10px 1px #00000029;
                    box-shadow: -1px 6px 10px 1px #00000029;
                }
            }

            .modal-body {
                .modal-title {
                    padding: 0px;
                    font-size: 20px;
                    font-family: "FuturaBk", Arial, sans-serif;
                    span {
                        font-family: "TheFontBold", Arial, sans-serif;
                    }

                    
                }
                .gradient {
                    margin-top: -20px;
                    height: 53rem;
                    border-radius: 40px;
                    background: rgb(61, 5, 71);
                    background: linear-gradient(
                        180deg,
                        rgba(61, 5, 71, 1) 32%,
                        rgba(76, 8, 68, 1) 53%,
                        rgba(106, 13, 63, 1) 72%,
                        rgba(150, 20, 55, 1) 86%,
                        rgba(246, 37, 36, 1) 100%
                    );
                    h2 {
                        font-size: 53px;
                        font-family: "TheFontBold", Arial, sans-serif;
                        color: #fff;

                        @media (max-width: 768px) {
                            font-size: 3rem;
                        }
                    }
                    h1 {
                        font-size: 88px;
                        font-family: "TheFontBold", Arial, sans-serif;
                        color: #fff;

                        @media (max-width: 768px) {
                            font-size: 3rem;
                        }
                    }

                    .heart {
                        width: 65px;
                        margin-left: 10px;

                        @media (max-width: 768px) {
                            display: none;
                        }
                    }

                    .card {
                        position: relative;
                        background-color: #FCFCFC;
                        border-radius: 0px 0px 35px 35px;
                    }

                    .sticky-price {
                        border-radius: 35px 35px 0px 0px !important;
                        margin: 0px 10px 0px 10px;

                        .plan-details {
                            .title {
                                h3 {
                                    font-family: "FuturaBk", Arial, sans-serif;
                                    font-size: 18px;
                                    color: #cfc9c9;
                                }
                            }
    
                            .price {
                                h2 {
                                    font-family: "TheFontBold", Arial, sans-serif;
                                    font-size: 31px;
                                    color: #030000;
                                }
                                h1 {
                                    font-family: "TheFontBold", Arial, sans-serif;
                                    font-size: 75px;
                                    color: #20bbbd;
    
                                    @media (max-width: 768px) {
                                        font-size: 3rem;
                                    }
                                }
                            }
                            .line {
                                border: solid 2px red;
                                margin: 0px 30px;
                            }
                        }

                        .card-body {
                            padding: 0.5rem 1rem 0rem 1rem;
                        }
                    }
                }

                .modules {
                    margin: 0px 10px 0px 10px;
                    overflow-y: auto;
                    max-height: 75rem;

                    .module-list {
                        .card {

                            position: relative;
                            background-color: #FCFCFC;
                            border: solid 3px #fff;
                            border-radius: 35px;
                            -webkit-box-shadow: 0px 1px 9px -4px #000000;
                            box-shadow: 0px 1px 9px -4px #a79696;
                    
                            padding: 25px;
                            margin-bottom: 20px;
                            height: 160px;

                            img {
                                width: 50px;
                            }
                            .item {
                                font-family: "TheFontBold", Arial, sans-serif;
                                font-size: 25px;
                                color: #000000;

                                p {
                                    font-size: 15px;
                                    font-family: "FuturaBk", Arial, sans-serif;
                                }
                            }
                        }
                        .active {
                            background-color: #21bbc0;
                            border: solid 3px #21bbc0;
                            color: #fff;

                            .btn {
                                background-color: #fff0;
                                color: #fff;
                                height: 40px;
                            }

                            h4 {
                                color: #fff;
                                white-space: normal;
                            }

                            h3 {
                                font-size: 18px;
                                font-family: "TheFontBold", Arial, sans-serif;
                                color: #0f6a6d;
                            }
                        }

                        .coming-soon {
                            h4 {
                                color: rgb(228, 228, 228);
                                white-space: normal;
                            }

                            h3 {
                                color: rgb(228, 228, 228);
                                white-space: normal;
                            }
                        }

                        .btn {
                            color: #000000;
                            -webkit-box-shadow: 0px 1px 8px -4px #000000;
                            background-color: #eeecec;
                            box-shadow: 0px 1px 8px -4px #000000;
                            padding: 5px 25px;
                            border-radius: 10px;
                            height: 40px;
                        }
                    }
                }

                .modal-footer {
                    border: none;
                    .btn-modal {
                        position: absolute;
                    }
                }
                .modules::-webkit-scrollbar {
                    width: 5px;
                }

                .modules::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
                }

                .modules::-webkit-scrollbar-thumb {
                    background-color: #fcfcfc00;
                    outline: 1px solid #fcfcfc00;
                }
            }
        }
    }
}
