.alert-red {
    padding: 8px !important;
    font-family: 'FuturaBk', Arial, sans-serif;
    text-align: center;
    background-color: #FE043C;
    color: #fff;
    border-radius: 14px;

    &:hover {
        transform: translateY(-7px);
      }
}