.btn-purple {
  background-color: #592b65;
  border: solid 2px #672978;
  border-radius: 7px;
  color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  &:hover {
    color: #fff;
    transform: translateY(-7px);
  }
}


.btn-red {
  background-color: #fe043c;
  border-radius: 15px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #fff;
    transform: translateY(-7px);
  }
}

.btn-red-glow {
  background-color: #fe043c;
  border: solid 2px #fe043c;
  border-radius: 7px;
  color: #fff;
  box-shadow: 0px 2px 20px rgba(255, 0, 0, 0.609);
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #fff;
    transform: translateY(-7px);
  }
}

.btn-red-functionalities {
  background-color: #fe043c;
  border: solid 3px #fff;
  border-radius: 15px;
  color: #fff;
  padding: 8px 25px;
  -webkit-box-shadow: 0px 1px 9px -4px #000000;
  box-shadow: 0px 1px 9px -4px #000000;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  &:hover {
    color: #fff;
    transform: translateY(-7px);
  }
  font-size: 35px;
  font-family: "FuturaBk", Arial, sans-serif;
  b {
    font-family: "TheFontBold", Arial, sans-serif;
  }
}

.btn-red-modules {
  background-color: #fe043c;
  border: solid 2px #fe043c;
  border-radius: 20px;
  color: #fff;
  padding: 6px 25px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  font-size: 19px;
  font-family: "FuturaBk", Arial, sans-serif;
  &:hover {
    color: #fff;
    transform: translateY(-7px);
  }
  b {
    font-family: "TheFontBold", Arial, sans-serif;
  }
}

.btn-login {
  background-color: #fe043c;
  border: solid 2px #fe043c;
  border-radius: 13px;
  color: #fff;
  padding: 10px 25px;;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 3px 3px -4px #000000;
  box-shadow: inset 0px 3px 3px -4px #000000;
  font-size: 19px;
  font-family: "TheFontBold", Arial, sans-serif;
  &:hover {
    color: #fff;
    transform: translateY(-7px);
  }
}


.btn-red-help {
  background-color: #fe043c;
  border: solid 2px #fe043c;
  border-radius: 45px;
  color: #fff;
  padding: 35px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  font-size: 23px;
  font-family: "FuturaBk", Arial, sans-serif;
  &:hover {
    color: #fff;
  }
  b {
    font-family: "TheFontBold", Arial, sans-serif;
  }
}

.btn-gradient {
  background: rgb(179,19,27);
  background: linear-gradient(80deg, rgba(179,19,27,1) 28%, rgba(107,12,57,1) 58%, rgba(83,9,67,1) 100%);
  border-radius: 20px;
  color: #fff;
  padding: 20px 55px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  font-size: 38px;
  font-family: "FuturaBk", Arial, sans-serif;
  &:hover {
    color: #fff;
    transform: translateY(-7px);
  }
  b {
    font-family: "TheFontBold", Arial, sans-serif;
    font-size: 45px;
  }
}

.btn-modal {
  background: rgb(253,90,73);
  background: linear-gradient(90deg, rgba(253,90,73,1) 21%, rgba(250,77,94,1) 55%, rgba(247,64,115,1) 100%);
  border-radius: 20px;
  color: #fff;
  padding: 10px 30px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  font-size: 29px;
  font-family: "TheFontBold", Arial, sans-serif;
  &:hover {
    color: #fff;
  }
}

.btn-cian-register {
  background: #20BBBD;
  border: solid 3px #20BBBD;
  border-radius: 20px;
  color: #fff;
  padding: 20px 55px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  font-size: 23px;
  font-family: "FuturaBk", Arial, sans-serif;
  &:hover {
    color: #fff;
    transform: translateY(-7px);
  }
  b {
    font-family: "TheFontBold", Arial, sans-serif;
    font-size: 28px;
  }
}

.btn-cian {
  background: #20BBBD;
  border: solid 3px #20BBBD;
  border-radius: 20px;
  color: #fff;
  padding: 20px 55px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  font-size: 38px;
  font-family: "FuturaBk", Arial, sans-serif;
  &:hover {
    color: #fff;
    transform: translateY(-7px);
  }
  b {
    font-family: "TheFontBold", Arial, sans-serif;
    font-size: 45px;
  }
}

.btn-white {
  background: #fff;
  border-radius: 20px;
  color: #000000;
  padding: 20px 55px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: 0px 1px 8px -4px #000000;
  box-shadow: 0px 1px 8px -4px #000000;
  font-size: 26px;
  font-family: "FuturaBk", Arial, sans-serif;
  &:hover {
    color: #000000;
    transform: translateY(-7px);
  }
  b {
    font-family: "TheFontBold", Arial, sans-serif;
    font-size: 45px;
  }
}

.btn-disabled {
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  -webkit-box-shadow: 0px 1px 7px -4px #000000;
  box-shadow: 0px 1px 7px -4px #000000;
  background-color: #EFEFEF !important;
  border: solid 3px #EFEFEF !important;
  color: #8A8A8A;
  padding: 15px !important;
  font-size: 18px;
  border-radius: 35px;
  font-family: "FuturaBk", Arial, sans-serif;
  &:hover {
    color: #8A8A8A;
    transform: translateY(-7px);
  }
  b{
    font-size: 18px;
    font-family: 'TheFontBold', Arial, sans-serif;
  }
}