.clients {
    margin-top: 220px;
    margin-bottom: 220px;
    h3 {
        font-size: 28px;
        font-family: "FuturaBk", Arial, sans-serif;
        color: #e6e7e8;
    }

    .card {
        border: none;
    }

    img {
        width: 320px;
    }
}