.footer{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("https://luan1schons.github.io/landingpage-foodsmachine/assets/imgs/svgs/footer.svg");
    background-repeat: no-repeat;
    color: #CACACA;

    .content {
        background-color: #FBFBFB;
        margin-top: 130px;
        @media (min-width: 900px)
        {
            padding: 0px 220px;
        }

        .gray {
            color: #A2A2A2;
        }
        p {
            font-family: "FuturaBk", Arial, sans-serif;
            font-size: 25px;
            b{
                font-family: "TheFontBold", Arial, sans-serif;
            }
        }

        .btn {
            padding: 20px;
            b {
                font-size: 23px;
                font-family: "TheFontBold", Arial, sans-serif;
            }

            span {
                font-family: "FuturaBk", Arial, sans-serif;
                font-size: 18px;
            }
        }

        .line {
            margin-top: 100px;
            margin-bottom: 100px;
            border: solid 2px #CACACA;
        }
    }

    .footer-details {
        text-align: center;
        .socials {
            p {
                font-size: 13px;
            }
        }

        p {
            font-family: "TheFontBold", Arial, sans-serif;
            font-size: 21px;
        }

        .small {
            font-family: "FuturaBk", Arial, sans-serif;
            font-size: 25px;
        }

        .small-hours {
            font-family: "FuturaBk", Arial, sans-serif;
            font-size: 17px;
        }
    }
}