.functionalities {
        margin-top: 150px;
        .button-details { 
           .title{
                font-family: 'FuturaBk', Arial, sans-serif;
                color: #DADADA;
                font-size: 22px;
                margin: 5px;
            }
        }
}