.functionalities {
    margin-top: 150px;

    h4 {
        font-family: "FuturaBk", Arial, sans-serif;
        color: #7e7e7e;
    }
    .button-details {
        .title {
            font-family: "FuturaBk", Arial, sans-serif;
            color: #dadada;
            font-size: 22px;
            margin: 5px;
        }
    }

    .integrations {
        margin-top: 60px;
        .card {
            background-color: #fcfcfc00;
            border-radius: 40px;
            .card-body {
                padding: 30px 30px;;
                border-radius: 40px;
            }
        }
        .line {
            border: solid 2px #f7f7f7;
            margin: 80px 0px;
        }

        .coming-soon {
            h3 {
                font-size: 23px;
                color: #e1e2e1;
                margin: auto;
                font-family: "FuturaBk", Arial, sans-serif;
                b {
                    font-family: "TheFontBold", Arial, sans-serif;
                }
            }
        }
    }

    .benefits {
        height: 100%;

        .card {
            -webkit-box-shadow: -9px 9px 10px -5px #d0d0d0;
            box-shadow: -9px 8px 10px -5px #d0d0d0;
            border: none;

            .card-body {
                padding: 10px 30px;
                -webkit-box-shadow: none; 
                box-shadow: none;
            }
        }
        .item {
            padding: 40px 0px;
            height: 100%;
            width: 100%;
        }

        ul {
            list-style: none;
        }

        li {
            &::before {
                content: "•";
                color: #d8d8d8;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }
        }

        .title {
            h4 {
                font-size: 18px;
                font-family: "TheFontBold", Arial, sans-serif;
                color: #000000;
            }

            .icon {
                width: 35px;
            }
        }
    }
}
