.help-me-bg {
    background-color: #FBFBFB;
}
.help-me {
    h1 {
        font-family: 'TheFontBold', Arial, sans-serif;
        font-size: 31px;
    }

    .card {
        background-color: #fff;
        border-radius: 45px;
        border: solid 4px #fff;
        -webkit-box-shadow: 0px 1px 8px -4px #000000;
        box-shadow: 0px 1px 8px -4px #000000;

        label{
            font-family: "FuturaBk", Arial, sans-serif;
            font-size: 12px;
            color: #6A6A6A;
        }
    }
}