.form-control {
    background-color: #fff;
    color: #D2D3D5;
    border: none;
    text-align: center;
    font-family: "FuturaBk", Arial, sans-serif;
    font-size: 22px;
    padding: 16px;
    border-radius: 35px;
    -webkit-box-shadow: -1px 6px 10px 1px #00000029;
    box-shadow: -1px 6px 10px 1px #00000029;
}
