.main-questions {
    margin-top: 0px;
    padding-bottom: 240px;
    background-image: url("/assets/imgs/svgs/main-questions.svg");

    .info-apps {
        img {
            width: 190px;
        }
    }

    .title {
        margin-top: 80px;
        color: #fff;
        font-family: "FuturaBk", Arial, sans-serif;
        b {
            font-family: "TheFontBold", Arial, sans-serif;
        }
    }

    .card {
        border-radius: 35px;
        padding: 25px;
        h2 {
            font-size: 35px;
            font-family: "FuturaBk", Arial, sans-serif;
        }
    }
}