.main-questions {
    margin-top: 0px;
    padding-bottom: 240px;
    background-image: url("/assets/imgs/svgs/main-questions.svg");

    .info-apps {
        img {
            width: 190px;
        }
    }

    .title {
        margin-top: 80px;
        color: #fff;
        font-family: "FuturaBk", Arial, sans-serif;
        b {
            font-family: "TheFontBold", Arial, sans-serif;
        }
    }

    .card {
        border-radius: 35px;
        padding: 25px;
        background-color: #F6F6F6;
        h2 {
            font-size: 35px;
            font-family: "FuturaBk", Arial, sans-serif;
        }
    }

    .desc {
        margin: 0px 40px;
        padding:  20px 20px;
        background-color: #fff;
        border-radius: 0px 0px 35px 35px;
        
        p {
            font-size: 24px;
            font-family: "Gothic", Arial, sans-serif;
        }
    }
}