.notebook-art {

    .notebook-bg {
        margin-top: 150px;
        display: block;

        img {
            background-repeat: no-repeat;
            background-position: center;
            width: 70%;
        }
    }

    .container {

        .title {
            margin: 20px;
        }
        h1 {
            font-family: "FuturaBk", Arial, sans-serif;
            font-size: 65px;
        }

        h2 {
            font-family: "TheFontBold", Arial, sans-serif;
            font-size: 60px;
        }

        .btn {
            font-family: "FuturaBk", Arial, sans-serif;
            font-size: 21px !important;
            padding: 10px 40px;

            b{
                font-family: "TheFontBold", Arial, sans-serif;
            }
        }
    }

}