.show-app {
    margin-top: 10rem;
    .container {
        .phone {
            img {
                @media (max-width: 768px) {
                        width: 530px;
                        display: none;
                }
            }
        }
        .title {
            h3 {
                font-family: "FuturaBk", Arial, sans-serif;
                font-size: #{"min(53px, 10vw)"};
                letter-spacing: 0px;
                b {
                    font-family: "TheFontBold", Arial, sans-serif;
                    font-size: #{"min(53px, 15vw)"};
                }
            }
            h2 {
                font-size: #{"min(90px, 17vw)"};
                font-family: "TheFontBold", Arial, sans-serif;
                span {
                    font-family: "FuturaBk", Arial, sans-serif;
                    font-size: #{"min(90px, 17vw)"};
                }
            }
            .desc {
                font-family: "FuturaBk", Arial, sans-serif;
                font-size: #{"min(53px, 9vw)"};

                b {
                    font-family: "TheFontBold", Arial, sans-serif;
                    color: #fe1846;
                }

                span {
                    font-family: "TheFontBold", Arial, sans-serif;
                    color: #0197a6;
                }
            }
        }
    }
}
