.steps {
    width: 100%;
    .peoples {
        height:310px;

        .container {
            display: flex;
            justify-content: space-between;
        }
        
        @media (max-width: 768px) {
            height:110px;
            .container {
                margin: 0px;
                padding: 0px;   
                justify-content: space-around;
            }
        }

        .item{
            margin-right: 15rem;
            img {
                position: absolute;
                width: 240px;
            }

            @media (max-width: 768px) {
                margin-right: 6rem;
                img {
                    position: absolute;
                    width: 120px;
                }
            }
    
        }
    }
    margin-top: 160px;
    .cloud{
        img{
            display: block;
            position: absolute;
            z-index: 9998;
            height: 500px;
            width: 100%;
            object-fit:cover;
        }
    }

    .three-steps {
        position: relative;
        z-index: 9999;
        margin-top: 100px;
        .step {
            .card {
                -webkit-box-shadow: 0px 1px 9px -4px #000000; 
                box-shadow: 0px 1px 9px -4px #a79696;  
                border: solid #fff 3px;
                border-radius: 10px;

                .card-body{
                    -webkit-box-shadow: inset 0px 1px 5px -4px #000000; 
                    box-shadow: inset 0px 1px 5px -4px #000000;
                    margin: 0px;
                    border-radius: 10px;
                    padding: 25px 10px;

                    h3{
                        font-size: 25px;
                        font-family: 'TheFontBold', Arial, sans-serif;
                        color: #656565;
                    }
                }
                
            }
            h1{ 
                font-family: 'TheFontBold', Arial, sans-serif;
                font-size: 60px;
                color: #D8D8D8;
            }
        }
        .road {
            display: flex;
            align-items: center;
            justify-content: center;
            .hifens{ 
                font-family: 'TheFontBold', Arial, sans-serif;
                font-size: 35px;
                color: red;
            }
        }
    }
}