@font-face {
    font-family: "TheFontBold";
    src: url("https://luan1schons.github.io/landingpage-foodsmachine/assets/fonts/theboldfont.ttf");
}

@font-face {
    font-family: "FuturaBk";
    src: url("https://luan1schons.github.io/landingpage-foodsmachine/assets/fonts/FuturaBkBTBook.ttf");
}

@font-face {
    font-family: "Gothic";
    src: url("https://luan1schons.github.io/landingpage-foodsmachine/assets/fonts/GOTHIC.TTF");
}

html, body {
    margin: 0;
}
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    .presentation {
        display: inline-block;
        background-image: url("https://luan1schons.github.io/landingpage-foodsmachine/assets/imgs/bg-header.png");
        background-repeat: no-repeat;
        height: 1200px;
    }

    .ml-4 {
        margin-left: 8px;
    }
}

body::-webkit-scrollbar {
    width: 5px;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
    background-color: #592B65;
    outline: 1px solid #672978;
}