@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@font-face {
  font-family: "TheFontBold";
  src: url("https://luan1schons.github.io/landingpage-foodsmachine/assets/fonts/theboldfont.ttf");
}

@font-face {
  font-family: "FuturaBk";
  src: url("https://luan1schons.github.io/landingpage-foodsmachine/assets/fonts/FuturaBkBTBook.ttf");
}

@font-face {
  font-family: "Gothic";
  src: url("https://luan1schons.github.io/landingpage-foodsmachine/assets/fonts/GOTHIC.TTF");
}

html, body {
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body .presentation {
  display: inline-block;
  background-image: url("https://luan1schons.github.io/landingpage-foodsmachine/assets/imgs/bg-header.png");
  background-repeat: no-repeat;
  height: 1200px;
}

body .ml-4 {
  margin-left: 8px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #592B65;
  outline: 1px solid #672978;
}

.navbar .nav-item {
  font-family: 'FuturaBk', Arial, sans-serif;
  margin: 0px 35px;
}

.navbar .nav-item .nav-link {
  font-size: 14px;
  color: #fff;
}

.navbar .nav-link.active {
  color: #fff !important;
}

.navbar .navbar-brand {
  padding: 16px 33px;
  margin-right: 77px;
}

.login-md .modal-dialog {
  border-radius: none;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.login-md .modal-dialog .modal-content {
  background: rgba(0, 0, 0, 0);
  background-image: url(https://luan1schons.github.io/landingpage-foodsmachine/assets/imgs/bg-login.png);
}

.login-md .modal-dialog .modal-content .modal-header {
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: none;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  margin: 0px;
}

.login-md .modal-dialog .modal-content .modal-header .btn-close {
  background-color: white;
  padding: 20px;
  border-radius: 45px;
  opacity: initial;
}

.login-md .modal-dialog .modal-content .form {
  margin: auto;
}

.login-md .modal-dialog .modal-content .form label {
  font-size: 19px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.login-md .modal-dialog .modal-content .form .reset-password label {
  font-family: "TheFontBold", Arial, sans-serif;
  text-align: center;
  font-size: 16px;
}

.login-md .modal-dialog .modal-content .form .reset-password label a {
  text-decoration: none;
  color: black;
}

.login-md .modal-dialog .modal-content .form .form-group .form-control {
  background-color: #EFEFEF;
  border: none;
  padding: 5px;
  border-radius: 35px;
  -webkit-box-shadow: -5px 4px 9px -4px #00000029;
  box-shadow: -5px 4px 9px -4px #00000029;
}

.login-md .modal-dialog .content .card {
  border-radius: 45px;
  width: 94%;
}

.login-md .modal-dialog .content .card-body {
  padding: 160px 110px;
  height: 930px;
}

.register .modal-dialog .modal-content {
  border-radius: 45px;
}

.register .modal-dialog .modal-content .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 0rem;
  border-bottom: none;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.register .modal-dialog .modal-content .modal-header .btn-close {
  z-index: 9999;
  background-color: white;
  padding: 30px;
  border-radius: 45px;
  opacity: initial;
  -webkit-box-shadow: -1px 6px 10px 1px #00000029;
  box-shadow: -1px 6px 10px 1px #00000029;
}

.register .modal-dialog .modal-content .modal-body .modal-title {
  font-size: 20px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.register .modal-dialog .modal-content .modal-body .modal-title span {
  font-family: "TheFontBold", Arial, sans-serif;
}

.register .modal-dialog .modal-content .modal-body .container {
  padding: 0px 50px;
}

.register .modal-dialog .modal-content .modal-body .line {
  margin: 80px 0px 80px 0px;
  border: solid 2px #f7f7f7;
}

.register .modal-dialog .modal-content .modal-body .form-label {
  font-size: 17px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.register .modal-dialog .modal-content .modal-body .form-control {
  background-color: #fff;
  border: none;
  padding: 0px;
  border-radius: 35px;
  -webkit-box-shadow: -1px 6px 10px 1px #00000029;
  box-shadow: -1px 6px 10px 1px #00000029;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .card {
  height: 100%;
  width: 100%;
  border-radius: 45px;
  border: solid 3px #fff;
  background-color: #fff;
  webkit-box-shadow: 0px 1px 9px -4px #a79696;
  -webkit-box-shadow: -5px 4px 9px -4px #a79696;
          box-shadow: -5px 4px 9px -4px #a79696;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .selected-modules {
  background-color: #000000;
  padding: 10px 40px;
  border-radius: 35px;
  font-size: 24px;
  color: #fff;
  font-family: "FuturaBk", Arial, sans-serif;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .selected-modules b {
  font-family: "TheFontBold", Arial, sans-serif;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .add-modules {
  margin-top: 80px;
  margin-bottom: 60px;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .add-modules .item {
  padding: 10px;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .add-modules .ticket {
  padding: 20px 0px;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .add-modules .ticket .card {
  border-radius: 0px 25px 25px 0px;
  border: none;
  background-color: #EEECEC;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .add-modules .ticket .card .card-body {
  padding: 5px;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .add-modules .ticket h3 {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 19px;
  color: #8A8A8A;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .add-modules .card {
  border-radius: 25px;
  border: solid 3px #fff;
  background-color: #fff;
  webkit-box-shadow: -2px 5px 9px -4px #a79696;
  -webkit-box-shadow: -2px 5px 9px -4px #a79696;
          box-shadow: -2px 5px 9px -4px #a79696;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .add-modules .card .card-body {
  padding: 0px;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .add-modules img {
  width: 50px;
}

.register .modal-dialog .modal-content .modal-body .modules-selected .add-modules h3 {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 22px;
}

.register .modal-dialog .modal-content .sell-showcase .card {
  border-radius: 45px;
  height: 100%;
}

.register .modal-dialog .modal-content .sell-showcase .green {
  background-color: #0BD877;
  text-align: center;
}

.register .modal-dialog .modal-content .sell-showcase .green h1 {
  font-size: min(46px, 6vw);
  font-family: 'TheFontBold', Arial, sans-serif;
}

.register .modal-dialog .modal-content .sell-showcase .green h2 {
  font-size: min(46px, 6vw);
  font-family: 'TheFontBold', Arial, sans-serif;
}

.register .modal-dialog .modal-content .sell-showcase .green p {
  font-family: 'FuturaBk', Arial, sans-serif;
  font-size: 40px;
}

.register .modal-dialog .modal-content .sell-showcase .black {
  background: #520d5e;
  background: linear-gradient(31deg, #520d5e 15%, #482f71 32%, #20bbbd 100%);
  border: solid 5px #2B98AA;
  padding: 25px 55px;
}

.register .modal-dialog .modal-content .sell-showcase .black .discount {
  text-align: left;
  font-family: 'TheFontBold', Arial, sans-serif;
  color: #fff;
}

.register .modal-dialog .modal-content .sell-showcase .black .discount h1 {
  font-size: min(68px, 10vw);
}

.register .modal-dialog .modal-content .sell-showcase .black .discount span {
  font-size: 17px;
  position: relative;
  top: 45px;
}

.register .modal-dialog .modal-content .sell-showcase .black .discount b {
  font-size: 25px;
}

.register .modal-dialog .modal-content .sell-showcase .black .price {
  text-align: left;
  font-family: 'TheFontBold', Arial, sans-serif;
  color: #fff;
}

.register .modal-dialog .modal-content .sell-showcase .black .price h1 {
  color: #0AD875;
  font-size: min(100px, 14vw);
}

.register .modal-dialog .modal-content .sell-showcase .black .price h2 {
  font-size: min(65px, 10vw);
  font-family: 'FuturaBk', Arial, sans-serif;
}

.register .modal-dialog .modal-content .sell-showcase .black .price span {
  top: 60px;
  position: relative;
  font-size: 31px;
}

.register .modal-dialog .modal-content .payments-method {
  text-align: center;
}

.btn-purple {
  background-color: #592b65;
  border: solid 2px #672978;
  border-radius: 7px;
  color: #fff;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-purple:hover {
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn-red-glow {
  background-color: #fe043c;
  border: solid 2px #fe043c;
  border-radius: 7px;
  color: #fff;
  -webkit-box-shadow: 0px 2px 20px rgba(255, 0, 0, 0.609);
          box-shadow: 0px 2px 20px rgba(255, 0, 0, 0.609);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn-red-glow:hover {
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn-red-functionalities {
  background-color: #fe043c;
  border: solid 3px #fff;
  border-radius: 15px;
  color: #fff;
  padding: 8px 25px;
  -webkit-box-shadow: 0px 1px 9px -4px #000000;
  box-shadow: 0px 1px 9px -4px #000000;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 35px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.btn-red-functionalities:hover {
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn-red-functionalities b {
  font-family: "TheFontBold", Arial, sans-serif;
}

.btn-red-modules {
  background-color: #fe043c;
  border: solid 2px #fe043c;
  border-radius: 20px;
  color: #fff;
  padding: 6px 25px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  font-size: 19px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.btn-red-modules:hover {
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn-red-modules b {
  font-family: "TheFontBold", Arial, sans-serif;
}

.btn-login {
  background-color: #fe043c;
  border: solid 2px #fe043c;
  border-radius: 13px;
  color: #fff;
  padding: 10px 25px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 3px 3px -4px #000000;
  box-shadow: inset 0px 3px 3px -4px #000000;
  font-size: 19px;
  font-family: "TheFontBold", Arial, sans-serif;
}

.btn-login:hover {
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn-red-help {
  background-color: #fe043c;
  border: solid 2px #fe043c;
  border-radius: 45px;
  color: #fff;
  padding: 35px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  font-size: 23px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.btn-red-help:hover {
  color: #fff;
}

.btn-red-help b {
  font-family: "TheFontBold", Arial, sans-serif;
}

.btn-gradient {
  background: #b3131b;
  background: linear-gradient(80deg, #b3131b 28%, #6b0c39 58%, #530943 100%);
  border-radius: 20px;
  color: #fff;
  padding: 20px 55px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  font-size: 38px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.btn-gradient:hover {
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn-gradient b {
  font-family: "TheFontBold", Arial, sans-serif;
  font-size: 45px;
}

.btn-cian {
  background: #20BBBD;
  border: solid 3px #20BBBD;
  border-radius: 20px;
  color: #fff;
  padding: 20px 55px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 3px 5px -4px #000000;
  font-size: 38px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.btn-cian:hover {
  color: #fff;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn-cian b {
  font-family: "TheFontBold", Arial, sans-serif;
  font-size: 45px;
}

.btn-white {
  background: #fff;
  border-radius: 20px;
  color: #000000;
  padding: 20px 55px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  -webkit-box-shadow: 0px 1px 8px -4px #000000;
  box-shadow: 0px 1px 8px -4px #000000;
  font-size: 26px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.btn-white:hover {
  color: #000000;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btn-white b {
  font-family: "TheFontBold", Arial, sans-serif;
  font-size: 45px;
}

/**
 * Switch Styles by Alexandre Joffroy
 * - https://codepen.io/alexjoffroy/pen/ORXOmR
 */
.switch {
  display: block;
}

.switch .slider {
  position: relative;
  display: inline-block;
  height: 11px;
  width: 55px;
  border-radius: 11px;
  cursor: pointer;
  background: #c5c5c5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.switch .slider:after {
  background: #eeeeee;
  position: absolute;
  left: -11px;
  top: -11px;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  content: '';
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.switch label {
  margin-right: 7px;
}

.switch .input {
  display: none;
}

.switch .input ~ .label {
  margin-left: 11px;
}

.switch .input:checked ~ .slider:after {
  left: 33px;
}

.switch .input:checked ~ .slider {
  background: #21bbc0;
}

.switch .input:checked ~ .slider:after {
  background: #fff;
}

.form-control {
  background-color: #fff;
  color: #D2D3D5;
  border: none;
  text-align: center;
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: 22px;
  padding: 16px;
  border-radius: 35px;
  -webkit-box-shadow: -1px 6px 10px 1px #00000029;
  box-shadow: -1px 6px 10px 1px #00000029;
}

.alert-red {
  padding: 8px !important;
  font-family: 'FuturaBk', Arial, sans-serif;
  text-align: center;
  background-color: #FE043C;
  color: #fff;
  border-radius: 14px;
}

.alert-red:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.header-card {
  margin-top: 20%;
  font-family: 'TheFontBold', Arial, sans-serif;
  text-align: center;
}

@media (min-width: 900px) {
  .header-card {
    margin: 50px 90px;
  }
}

.header-card h2 {
  color: #fff;
  font-size: 60px;
}

.header-card h1 {
  color: #fff;
  font-size: 90px;
}

.header-card .card {
  padding: 15px;
  background-color: #D9D2D6;
  border: solid 4px #fff;
  border-radius: 25px;
}

.header-card .card p {
  font-size: 24px;
  font-family: arial,sans-serif;
}

.header-card .card p b {
  font-family: 'TheFontBold', Arial, sans-serif;
}

.header-card .info-apps {
  margin-top: 35px;
}

.youtube-video .youtube-presentation {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youtube-video .youtube-presentation iframe {
  padding: 15px;
  background: #3f0546;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23%, #3f0546), color-stop(33%, #6c0d3e), color-stop(69%, #be1b2f), to(#f42524));
  background: linear-gradient(180deg, #3f0546 23%, #6c0d3e 33%, #be1b2f 69%, #f42524 100%);
  border-radius: 25px;
}

.youtube-video .alert span {
  background-color: #FE043C;
  padding: 5px;
  color: #fff;
  justify-items: center;
}

.perfect-for-all {
  margin-top: 120px;
}

.perfect-for-all .title h2 {
  font-family: 'TheFontBold', Arial, sans-serif;
  color: #A8A8A8;
  font-size: 42px;
}

.perfect-for-all .perfect-for-all-card {
  background-color: #F8F8F8;
  border: solid 2px #fff;
  border-radius: 35px;
  padding: 10px 0px;
  -webkit-box-shadow: -7px 8px 15px 2px rgba(0, 0, 0, 0.21);
  box-shadow: -7px 8px 15px 2px rgba(0, 0, 0, 0.21);
}

.perfect-for-all .perfect-for-all-card .owl-carousel .owl-dots {
  display: none !important;
}

.perfect-for-all .perfect-for-all-card .owl-carousel .item {
  margin: auto;
}

.perfect-for-all .perfect-for-all-card .owl-carousel .item img {
  width: 50px;
}

.perfect-for-all .perfect-for-all-card .owl-carousel .item h3 {
  font-size: 35px;
  font-weight: 300;
}

.steps {
  width: 100%;
  margin-top: 160px;
}

.steps .peoples {
  height: 310px;
}

.steps .peoples .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .steps .peoples {
    height: 110px;
  }
  .steps .peoples .container {
    margin: 0px;
    padding: 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.steps .peoples .item {
  margin-right: 15rem;
}

.steps .peoples .item img {
  position: absolute;
  width: 240px;
}

@media (max-width: 768px) {
  .steps .peoples .item {
    margin-right: 6rem;
  }
  .steps .peoples .item img {
    position: absolute;
    width: 120px;
  }
}

.steps .cloud img {
  display: block;
  position: absolute;
  z-index: 9998;
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.steps .three-steps {
  position: relative;
  z-index: 9999;
  margin-top: 100px;
}

.steps .three-steps .step .card {
  -webkit-box-shadow: 0px 1px 9px -4px #000000;
  box-shadow: 0px 1px 9px -4px #a79696;
  border: solid #fff 3px;
  border-radius: 10px;
}

.steps .three-steps .step .card .card-body {
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 1px 5px -4px #000000;
  margin: 0px;
  border-radius: 10px;
  padding: 25px 10px;
}

.steps .three-steps .step .card .card-body h3 {
  font-size: 25px;
  font-family: 'TheFontBold', Arial, sans-serif;
  color: #656565;
}

.steps .three-steps .step h1 {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 60px;
  color: #D8D8D8;
}

.steps .three-steps .road {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps .three-steps .road .hifens {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 35px;
  color: red;
}

.show-app {
  margin-top: 10rem;
}

@media (max-width: 768px) {
  .show-app .container .phone img {
    width: 530px;
    display: none;
  }
}

.show-app .container .title h3 {
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: 53px;
  letter-spacing: 0px;
}

.show-app .container .title h3 b {
  font: normal normal bold 53px/65px "TheFontBold";
}

.show-app .container .title h2 {
  font-size: min(90px, 17vw);
  font-family: "TheFontBold", Arial, sans-serif;
}

.show-app .container .title h2 span {
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: min(70px, 14vw);
}

.show-app .container .title .desc {
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: 53px;
}

.show-app .container .title .desc b {
  font-family: "TheFontBold", Arial, sans-serif;
  color: #fe1846;
}

.show-app .container .title .desc span {
  font-family: "TheFontBold", Arial, sans-serif;
  color: #0197a6;
}

.functionalities {
  margin-top: 150px;
}

.functionalities h4 {
  font-family: "FuturaBk", Arial, sans-serif;
  color: #7e7e7e;
}

.functionalities .button-details .title {
  font-family: "FuturaBk", Arial, sans-serif;
  color: #dadada;
  font-size: 22px;
  margin: 5px;
}

.functionalities .integrations {
  margin-top: 60px;
}

.functionalities .integrations .card {
  background-color: #fcfcfc00;
  border-radius: 40px;
  border: none;
}

.functionalities .integrations .card .card-body {
  padding: 30px 30px;
  border-radius: 40px;
}

.functionalities .integrations .line {
  border: solid 2px #f7f7f7;
  margin: 80px 0px;
}

.functionalities .integrations .coming-soon h3 {
  font-size: 23px;
  color: #e1e2e1;
  margin: auto;
  font-family: "FuturaBk", Arial, sans-serif;
}

.functionalities .integrations .coming-soon h3 b {
  font-family: "TheFontBold", Arial, sans-serif;
}

.functionalities .benefits {
  height: 100%;
}

.functionalities .benefits .card {
  -webkit-box-shadow: -9px 9px 10px -5px #d0d0d0;
  box-shadow: -9px 8px 10px -5px #d0d0d0;
  border: none;
}

.functionalities .benefits .card .card-body {
  padding: 10px 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.functionalities .benefits .card ul {
  list-style: none;
}

.functionalities .benefits .card li::before {
  content: "•";
  color: #d8d8d8;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.functionalities .benefits .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: linear-gradient(45deg, #21BABF, #8B017D 100%);
  color: #fff;
  z-index: 9999;
}

.functionalities .benefits .card:hover .svg-black {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.functionalities .benefits .card:hover h4 {
  color: #fff;
}

.functionalities .benefits .item {
  padding: 40px 0px;
  height: 100%;
  width: 100%;
}

.functionalities .benefits .title h4 {
  font-size: 18px;
  font-family: "TheFontBold", Arial, sans-serif;
  color: #000000;
}

.functionalities .benefits .title .icon {
  width: 35px;
}

.mount-your-plan {
  margin-top: 150px;
}

.mount-your-plan .brands {
  margin-bottom: -21rem;
}

@media (max-width: 768px) {
  .mount-your-plan .brands {
    display: none !important;
  }
}

.mount-your-plan .brands img {
  width: 70%;
  height: 100%;
  display: block;
}

.mount-your-plan .brands .ifood {
  position: absolute;
  margin: 75px 580px 0px 0px;
}

.mount-your-plan .brands .ifood img {
  width: 90px;
  height: 93px;
}

.mount-your-plan .brands .aiqfome {
  position: absolute;
  margin: 320px 1325px 0px 0px;
}

.mount-your-plan .brands .aiqfome img {
  width: 112px;
  height: 112px;
  -webkit-transform: rotate(-14deg);
          transform: rotate(-14deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
}

.mount-your-plan .brands .deliverymuch {
  position: absolute;
  margin: 0px -230px 0px 0px;
}

.mount-your-plan .brands .deliverymuch img {
  width: 115px;
  height: 115px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
}

.mount-your-plan .brands .ubereats {
  position: absolute;
  margin: 305px 315px 0px 0px;
}

.mount-your-plan .brands .ubereats img {
  width: 115px;
  height: 115px;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
}

.mount-your-plan .brands .rappi {
  position: absolute;
  margin: 106px -822px 0px 0px;
}

.mount-your-plan .brands .rappi img {
  width: 115px;
  height: 115px;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
}

.mount-your-plan .card {
  position: relative;
  background-color: #FCFCFC;
  border: solid 3px #fff;
  border-radius: 35px;
  -webkit-box-shadow: 0px 1px 9px -4px #000000;
  box-shadow: 0px 1px 9px -4px #a79696;
}

.mount-your-plan .content {
  margin-top: 150px;
}

.mount-your-plan .content .description h3 {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 40px;
}

.mount-your-plan .content .description h3 span {
  font-family: 'FuturaBk', Arial, sans-serif;
}

.mount-your-plan .content .description .tiny {
  font-family: 'FuturaBk', Arial, sans-serif;
  font-size: 25px;
  color: #BABABA;
}

.mount-your-plan .mount {
  margin-top: 40px;
}

.mount-your-plan .mount .mount-image {
  width: 95%;
  height: 95%;
  position: relative;
  margin-bottom: -20px;
}

.mount-your-plan .mount .gradient {
  height: 60rem;
  border-radius: 40px;
  background: #3d0547;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32%, #3d0547), color-stop(53%, #4c0844), color-stop(72%, #6a0d3f), color-stop(86%, #961437), to(#f62524));
  background: linear-gradient(180deg, #3d0547 32%, #4c0844 53%, #6a0d3f 72%, #961437 86%, #f62524 100%);
}

.mount-your-plan .mount .gradient h2 {
  font-size: 53px;
  font-family: 'TheFontBold', Arial, sans-serif;
  color: #fff;
}

.mount-your-plan .mount .gradient h1 {
  font-size: 88px;
  font-family: 'TheFontBold', Arial, sans-serif;
  color: #fff;
}

.mount-your-plan .mount .gradient .heart {
  width: 65px;
  margin-left: 10px;
}

.mount-your-plan .mount .modules {
  -webkit-box-shadow: inset 0px 1px 5px -4px #000000;
  box-shadow: inset 0px 1px 5px -4px #000000;
  margin: 10px;
  overflow-y: auto;
  max-height: 75rem;
}

.mount-your-plan .mount .modules .plan-details .title h3 {
  font-family: 'FuturaBk', Arial, sans-serif;
  font-size: 27px;
  color: #CFC9C9;
}

.mount-your-plan .mount .modules .plan-details .price h2 {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 31px;
  color: #030000;
}

.mount-your-plan .mount .modules .plan-details .price h1 {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 75px;
  color: #20BBBD;
}

.mount-your-plan .mount .modules .plan-details .line {
  border: solid 2px red;
  margin: 0px 30px;
}

.mount-your-plan .mount .modules .module-list .card {
  padding: 35px;
  margin-bottom: 20px;
}

.mount-your-plan .mount .modules .module-list .card .item {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 25px;
  color: #000000;
}

.mount-your-plan .mount .modules .module-list .card .item .icon {
  margin-right: 25px;
}

.mount-your-plan .mount .modules .module-list .card .item p {
  font-size: 15px;
  font-family: 'FuturaBk', Arial, sans-serif;
}

.mount-your-plan .mount .modules .module-list .active {
  background-color: #21BBC0;
  border: solid 3px #21BBC0;
  color: #fff;
}

.mount-your-plan .mount .modules .module-list .active .btn {
  background-color: #fff0;
  color: #fff;
}

.mount-your-plan .mount .modules .module-list .active h4 {
  color: #fff;
}

.mount-your-plan .mount .modules .module-list .active h3 {
  font-size: 25px;
  font-family: 'TheFontBold', Arial, sans-serif;
  color: #0F6A6D;
}

.mount-your-plan .mount .modules .module-list .coming-soon h4 {
  color: #e4e4e4;
}

.mount-your-plan .mount .modules .module-list .coming-soon h3 {
  color: #e4e4e4;
}

.mount-your-plan .mount .modules .module-list .btn {
  color: #000000;
  -webkit-box-shadow: 0px 1px 8px -4px #000000;
  background-color: #EEECEC;
  box-shadow: 0px 1px 8px -4px #000000;
  padding: 5px 25px;
  border-radius: 10px;
}

.mount-your-plan .mount .modules::-webkit-scrollbar {
  width: 5px;
}

.mount-your-plan .mount .modules::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.mount-your-plan .mount .modules::-webkit-scrollbar-thumb {
  background-color: #fcfcfc00;
  outline: 1px solid #fcfcfc00;
}

@media (min-width: 900px) {
  .mount-your-plan .modules-selected {
    padding: 80px 120px 0px 120px;
  }
}

.mount-your-plan .modules-selected .card {
  height: 100%;
  width: 100%;
  border-radius: 45px;
  border: solid 3px #fff;
  background-color: #fff;
  webkit-box-shadow: 0px 1px 9px -4px #a79696;
  -webkit-box-shadow: -5px 4px 9px -4px #a79696;
          box-shadow: -5px 4px 9px -4px #a79696;
}

.mount-your-plan .modules-selected .selected-modules {
  background-color: #000000;
  padding: 10px 40px;
  border-radius: 35px;
  font-size: 24px;
  color: #fff;
  font-family: 'FuturaBk', Arial, sans-serif;
}

.mount-your-plan .modules-selected .selected-modules b {
  font-family: 'TheFontBold', Arial, sans-serif;
}

.mount-your-plan .modules-selected .add-modules {
  margin-top: 80px;
  margin-bottom: 60px;
}

.mount-your-plan .modules-selected .add-modules .item {
  padding: 10px;
}

.mount-your-plan .modules-selected .add-modules .ticket {
  padding: 20px 0px;
}

.mount-your-plan .modules-selected .add-modules .ticket .card {
  border-radius: 0px 25px 25px 0px;
  border: none;
  background-color: #EEECEC;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mount-your-plan .modules-selected .add-modules .ticket .card .card-body {
  padding: 5px;
}

.mount-your-plan .modules-selected .add-modules .ticket h3 {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 19px;
  color: #8A8A8A;
}

.mount-your-plan .modules-selected .add-modules .card {
  border-radius: 25px;
  border: solid 3px #fff;
  background-color: #fff;
  webkit-box-shadow: -2px 5px 9px -4px #a79696;
  -webkit-box-shadow: -2px 5px 9px -4px #a79696;
          box-shadow: -2px 5px 9px -4px #a79696;
}

.mount-your-plan .modules-selected .add-modules .card .card-body {
  padding: 0px;
}

.mount-your-plan .modules-selected .add-modules img {
  width: 50px;
}

.mount-your-plan .modules-selected .add-modules h3 {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 22px;
}

@media (min-width: 900px) {
  .mount-your-plan .sell-showcase {
    padding: 0px 120px;
  }
}

.mount-your-plan .sell-showcase .card {
  height: 100%;
  width: 100%;
}

.mount-your-plan .sell-showcase .green {
  background-color: #0BD877;
  border: solid 3px #0BD877;
  padding: 25px 55px;
}

.mount-your-plan .sell-showcase .green h1 {
  font-size: min(76px, 14vw);
  font-family: 'TheFontBold', Arial, sans-serif;
}

.mount-your-plan .sell-showcase .green h2 {
  font-size: min(76px, 14vw);
  font-family: 'TheFontBold', Arial, sans-serif;
}

.mount-your-plan .sell-showcase .green p {
  font-family: 'FuturaBk', Arial, sans-serif;
  font-size: 40px;
}

.mount-your-plan .sell-showcase .black {
  background: #520d5e;
  background: linear-gradient(31deg, #520d5e 15%, #482f71 32%, #20bbbd 100%);
  border: solid 5px #2B98AA;
  -webkit-box-shadow: 0px 1px 8px -4px #000000;
  box-shadow: 0px 1px 8px -4px #000000;
  padding: 25px 55px;
}

.mount-your-plan .sell-showcase .black .discount {
  text-align: left;
  font-family: 'TheFontBold', Arial, sans-serif;
  color: #fff;
}

.mount-your-plan .sell-showcase .black .discount h1 {
  font-size: min(98px, 15vw);
}

.mount-your-plan .sell-showcase .black .discount span {
  font-size: 17px;
  position: relative;
  top: 75px;
}

.mount-your-plan .sell-showcase .black .discount b {
  font-size: 25px;
}

.mount-your-plan .sell-showcase .black .price {
  text-align: left;
  font-family: 'TheFontBold', Arial, sans-serif;
  color: #fff;
}

.mount-your-plan .sell-showcase .black .price h1 {
  color: #0AD875;
  font-size: min(176px, 16vw);
}

.mount-your-plan .sell-showcase .black .price h2 {
  font-size: min(90px, 15vw);
  font-family: 'FuturaBk', Arial, sans-serif;
}

.mount-your-plan .sell-showcase .black .price span {
  top: 135px;
  position: relative;
  font-size: 31px;
}

.mount-your-plan .advertising {
  font-size: 22px;
  color: #989898;
  font-family: 'FuturaBk', Arial, sans-serif;
  margin-bottom: 200px;
}

.svg-black {
  -webkit-filter: brightness(0) contrast(3);
          filter: brightness(0) contrast(3);
}

.svg-gray {
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
}

.svg-white {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.help-me-bg {
  background-color: #FBFBFB;
}

.help-me h1 {
  font-family: 'TheFontBold', Arial, sans-serif;
  font-size: 31px;
}

.help-me .card {
  background-color: #fff;
  border-radius: 45px;
  border: solid 4px #fff;
  -webkit-box-shadow: 0px 1px 8px -4px #000000;
  box-shadow: 0px 1px 8px -4px #000000;
}

.help-me .card label {
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: 12px;
  color: #6A6A6A;
}

.notebook-art .notebook-bg {
  margin-top: 150px;
  display: block;
}

.notebook-art .notebook-bg img {
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
}

.notebook-art .container .title {
  margin: 20px;
}

.notebook-art .container h1 {
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: 65px;
}

.notebook-art .container h2 {
  font-family: "TheFontBold", Arial, sans-serif;
  font-size: 60px;
}

.notebook-art .container .btn {
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: 21px !important;
  padding: 10px 40px;
}

.notebook-art .container .btn b {
  font-family: "TheFontBold", Arial, sans-serif;
}

.clients {
  margin-top: 220px;
  margin-bottom: 220px;
}

.clients h3 {
  font-size: 28px;
  font-family: "FuturaBk", Arial, sans-serif;
  color: #e6e7e8;
}

.clients .card {
  border: none;
}

.clients img {
  width: 320px;
}

.promo .modal {
  position: fixed;
  top: auto !important;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.promo .modal-xl {
  max-width: 1440px;
}

.promo .modal-dialog .modal-content {
  border-radius: 45px;
  background: #f62524;
  background: linear-gradient(31deg, #f62524 0%, #84113a 34%, #680c3f 50%, #3d0547 77%);
}

.promo .modal-dialog .modal-content .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 0rem;
  border-bottom: none;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.promo .modal-dialog .modal-content .modal-header .btn-close {
  z-index: 9999;
  background-color: white;
  padding: 30px;
  border-radius: 45px;
  opacity: initial;
  -webkit-box-shadow: -1px 6px 10px 1px #00000029;
  box-shadow: -1px 6px 10px 1px #00000029;
}

.promo .modal-dialog .modal-content .modal-body .modal-title {
  font-size: 20px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.promo .modal-dialog .modal-content .modal-body .modal-title span {
  font-family: "TheFontBold", Arial, sans-serif;
}

.promo .modal-dialog .modal-content .modal-body .container {
  padding: 130px 0px !important;
}

.promo .modal-dialog .modal-content .modal-body .crono h3 {
  font-size: 29px;
  color: #fff;
  line-height: 0.75em;
  font-family: "FuturaBk", Arial, sans-serif;
}

.promo .modal-dialog .modal-content .modal-body .crono h1 {
  font-size: 91px;
  color: #CFCECE;
  font-family: "TheFontBold", Arial, sans-serif;
  line-height: 0.75em;
}

.promo .modal-dialog .modal-content .modal-body .crono p {
  font-size: 26px;
  color: #ECE8E8;
  text-shadow: 0 0 5px #692B39;
  font-family: "FuturaBk", Arial, sans-serif;
}

.promo .modal-dialog .modal-content .modal-body .crono .card {
  border-radius: 35px;
}

.promo .modal-dialog .modal-content .modal-body .crono .card h1 {
  text-align: center;
  color: #FE043C;
}

.promo .modal-dialog .modal-content .modal-body .cta img {
  width: 70px;
  -webkit-transform: rotate(-19deg);
          transform: rotate(-19deg);
  position: absolute;
  top: 55px;
  left: 78%;
}

.promo .modal-dialog .modal-content .modal-body .cta h3 {
  font-size: 65px;
  color: #fff;
  line-height: 1em;
  font-family: "FuturaBk", Arial, sans-serif;
}

.promo .modal-dialog .modal-content .modal-body .cta h2 {
  font-size: 83px;
  color: #fff;
  font-family: "TheFontBold", Arial, sans-serif;
  line-height: 0.75em;
}

.promo .modal-dialog .modal-content .modal-body .cta h1 {
  font-size: 107px;
  color: #fff;
  font-family: "TheFontBold", Arial, sans-serif;
  line-height: 1em;
}

.promo .modal-dialog .modal-content .modal-body .cta p {
  font-size: 26px;
  color: #ECE8E8;
  text-shadow: 0 0 5px #692B39;
  font-family: "FuturaBk", Arial, sans-serif;
}

.main-questions {
  margin-top: 0px;
  padding-bottom: 240px;
}

.main-questions .title {
  margin-top: 80px;
  color: #000;
  font-family: "FuturaBk", Arial, sans-serif;
}

.main-questions .title b {
  font-family: "TheFontBold", Arial, sans-serif;
}

.main-questions .card {
  border-radius: 35px;
  padding: 25px;
  background-color: #FBFBFB;
  border: none;
  -webkit-box-shadow: -2px 5px 9px -4px #a79696;
  box-shadow: -2px 5px 9px -4px #a79696;
}

.main-questions .card h2 {
  font-size: 35px;
  font-family: "FuturaBk", Arial, sans-serif;
}

.main-questions .desc {
  margin: 0px 40px;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 0px 0px 35px 35px;
}

.main-questions .desc p {
  font-size: 24px;
  font-family: "Gothic", Arial, sans-serif;
}

.footer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://luan1schons.github.io/landingpage-foodsmachine/assets/imgs/svgs/footer.svg");
  background-repeat: no-repeat;
  color: #CACACA;
}

.footer .content {
  background-color: #FBFBFB;
  margin-top: 130px;
}

@media (min-width: 900px) {
  .footer .content {
    padding: 0px 220px;
  }
}

.footer .content .gray {
  color: #A2A2A2;
}

.footer .content p {
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: 25px;
}

.footer .content p b {
  font-family: "TheFontBold", Arial, sans-serif;
}

.footer .content .btn {
  padding: 20px;
}

.footer .content .btn b {
  font-size: 23px;
  font-family: "TheFontBold", Arial, sans-serif;
}

.footer .content .btn span {
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: 18px;
}

.footer .content .line {
  margin-top: 100px;
  margin-bottom: 100px;
  border: solid 2px #CACACA;
}

.footer .footer-details {
  text-align: center;
}

.footer .footer-details .socials p {
  font-size: 13px;
}

.footer .footer-details p {
  font-family: "TheFontBold", Arial, sans-serif;
  font-size: 21px;
}

.footer .footer-details .small {
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: 25px;
}

.footer .footer-details .small-hours {
  font-family: "FuturaBk", Arial, sans-serif;
  font-size: 17px;
}
/*# sourceMappingURL=main.css.map */