@import 'theme';
@import 'navbar';
@import 'login';
@import 'register';
@import 'buttons';
@import 'toggle';
@import 'inputs';
@import 'alerts';
@import 'header-card';
@import 'youtube-presentation';
@import 'perfect-for-all';
@import 'steps';
@import 'show-app';
@import 'functionalities';
@import 'mount-your-plan';
@import 'svg-filters';
@import 'help-me';
@import 'notebook-art';
@import 'clients';
@import 'promo';
@import 'main-questions';
@import 'add_module_modal';
@import 'footer';